<button type="button"(click)="onClick()">Add Inventory</button>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Location</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let inventory of page.content" class="clickable-row cursor-pointer">
        <td  (click)="onRowClicked(inventory.id)">{{inventory.id}}</td>
        <td  (click)="onRowClicked(inventory.id)">{{inventory.name}}</td>
        <td  (click)="onRowClicked(inventory.id)">{{inventory.location}}</td>
        <td>
            <app-action-button iconName="home" (clicked)='onTestClick($event)'></app-action-button>
            <app-action-button [iconName]="getIconName()" (clicked)='onTestClick($event)'></app-action-button>
            <app-action-button iconName="edit" (clicked)='onEdit(inventory.id)'></app-action-button>
            <app-action-button [iconName]="'delete'" (clicked)='onDelete(inventory.id)'></app-action-button>
            <app-action-button [iconName]="saveName"></app-action-button>
            <!-- <button (click)='onEdit(inventory.id)'><mat-icon>edit</mat-icon></button>
            <button (click)='onDelete(inventory.id)'><mat-icon>delete</mat-icon></button> -->
        </td>
      </tr>
    </tbody>
  </table>
