
  <form [formGroup]="inventoryForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name"  placeholder="Enter name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" placeholder="Enter location" formControlName="location">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>